@page "/testing"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization
@using MeetCampus.Client.Resources
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResource> L

<PageTitle>@L["Testing_PageTitle"]</PageTitle>

<div class="container mx-auto px-4 py-10">
    <h1 class="text-3xl font-bold">@L["Testing_Title"]</h1>
    <p class="text-base-content/70 mt-3">@L["Testing_Description"]</p>
</div>
