@inherits LayoutComponentBase

<div class="min-h-screen bg-white font-sans text-gray-900 antialiased">
    @Body
</div>
<footer class="footer bg-neutral text-neutral-content fixed bottom-0 flex items-baseline justify-center p-2">
    <div>
        <p>Copyright © @(DateTime.Today.Year) - All right reserved</p>
    </div>
    <div class="flex gap-3">
        <a href="https://github.com/clock1998" aria-label="asd"><i class="fa-brands fa-github fa-lg"></i></a>
        <a href="https://www.linkedin.com/in/linyi-jiang/" aria-label="asd"><i class="fa-brands fa-linkedin fa-lg"></i></a>
    </div>
</footer>